@import url("https://fonts.googleapis.com/css2?family=Hind&family=Libre+Baskerville&family=Raleway:ital,wght@1,392&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind&family=Raleway:ital,wght@1,392&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
